<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block blog %}
          {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('login') }}">Login</a>
          {% else %}
            <a href="{{ path('logout') }}">Logout</a>
          {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
